<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="cyber-alarm-nuget" value="https://pkgs.dev.azure.com/waterstons-cyberalarm/_packaging/waterstons-cyberalarm/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>