name: Promote to Stable

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: waterstonsltd/cyberalarm-securesensor

jobs:
  promote:
    runs-on: ubuntu-latest
    environment: stable
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Promote latest to stable
        run: |
          docker buildx imagetools create \
            --tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:stable \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      - name: Sign the stable tag
        run: |
          cosign sign --yes \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:stable